$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

// $primary_color: #25507bec;
// $primary_color_1: #25507b;
// $secondary_color: #ffc107;
// $back_color: rgba(206, 200, 200, 0.521);
// $grey_color: grey;
// $white_color: white;
// $white_color_1: rgb(240, 233, 233);
// $black_color: rgb(41, 40, 40);
// $black_color_1: rgb(34, 33, 33);

$primary_color: #008080;
$primary_color_1: #4599999f;
$secondary_color: #ffc107;
$back_color: rgba(146, 143, 143, 0.521);
$grey_color: rgb(92, 91, 91);
$white_color: white;
$white_color_1: rgb(240, 233, 233);
$black_color: rgb(41, 40, 40);
$black_color_1: rgb(34, 33, 33);
$content_back_color: rgb(240, 228, 210);

$topheader_height: 3rem;
$sidebar_width: 4rem;
